#room {
    position: relative;
    border: 3px black solid;
    display: inline-block;

}

#player {
    position: absolute;
    background: url(/images/wizard.jpg) no-repeat;
    width: 51px;
    height: 79px;
}

.line1 {
    width: 177px;
    height: 177px;
    border-bottom: 3px solid black;
    -webkit-transform: translateY(-90px) translateX(34px) rotate(45deg);
    position: absolute;
    /* top: -20px; */
}

.line2 {
    width: 177px;
    height: 177px;
    border-bottom: 3px solid black;
    -webkit-transform: translateY(-60px) translateX(-72px) rotate(-45deg);
    position: absolute;
    top: -33px;
    left: -13px;
}

#south_door, #north_door {
    width: 125px;
    height: 125px;
    left: 400px;
}

#west_door, #east_door {
    border: 2px;
    width: 125px;
    height: 125px;
    top: 300px;
    position: absolute
}

#east_door {
    left: 3px;
}

#west_door {
    background: url(/images/west.jpg) no-repeat;
}

#north_door {
    background: url(/images/north.jpg) no-repeat;
}

#south_door {
    background: url(/images/south.jpg) no-repeat;
}

#east_door {
    background: url(/images/east.jpg) no-repeat;
}

#leg {
    width: 60px;
    margin-top: -10px;
    margin-left: 5px;
    background: white;
    font-size: 12px;
}


#userinput {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    height: 20vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;

::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.15) 1px,
            transparent 1px,
            transparent 2px
    );
    pointer-events: none;
}

}
::selection {
    background: #0080FF;
    text-shadow: none;
}

pre {
    margin: 0;
}

#inputline {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    background: transparent;
    border: none;
    margin: 0;
    color: white;

}

textarea:focus, input:focus {
    outline: none;
}

#characterstatus p {
    font-size: 11px;
}

#userinput {
    font-size: 13px;

}

#dialog{
    font-size: 13px;

}
#dialog td {
    font-size: 13px;
      padding: 0px;
      height: 13px;
  }
#playerstatus td {
    font-size: 13px;
    text-align: left;
}

#reset td {
    font-size: 13px;
    text-align: left;
    width: 100%
}
